* {
	
	box-sizing:  border-box;
}


body {
	background-color: #ccc;

}

.wrapper, .mejs_player {
	
	margin: 0 auto;
	width: 95%

	
}	
.container {
	font: 1em   Arial, Helvetica, sans-serif;
}	

video {
	width: 100%;
	max-width: 100%;
}

.text {
	background-color:#fff;
	color: #818181;
	padding:10px;
}
