* {
	
	box-sizing:  border-box;
}


body {
	background-color: #ccc;

}

.wrapper {
	
	margin: 0 auto;
	width: 95%

	
}	
.container {
	background-color: white;

}	

video {
	width: 100%;
	max-width: 100%;
}

