* {
	
	box-sizing:  border-box;
}


body {
	background-color: #ccc;

}

.wrapper {
	
	margin: 10px auto;
	width: 90%;
	background-color:#fff;
	padding:10px 20px;
	border-radius: 5px;
}	

video {

	max-width: 100%;
}

.video_wrapper {
	
		margin:0 auto;
		display: block;
		width:auto;
		height:auto;
}

.caption {
	background-color:#fff;
	color: #818181;
	margin-top:10px;
	line-height: 32px;
	font: 1.5em   Arial, Helvetica, sans-serif;
}

.highlight {
	color: #fdb25e;
}

@media (min-width: 768px) {
	.wrapper {
		max-width:768px;
	}	

}
@media (min-width: 769px) {
	.wrapper {
		max-width:1400px;
	}	

}
