// Fonts Stacks

$font-family--primary: Arial, Helvetica, sans-serif;


//Text

$base__font-size: 16px;
$base__line: 24px;

//Colors

$white						:#fff;
$pumpkin					:#fdb25e;
$grey						:#818181;
$black						:#0C0C0C;
$primary-font-color					:$black;
$highlight							:$pumpkin;
$background-color					:$white;


//Breakpoints

$brkpoint-xs							: 1px;
$brkpoint-sm							: 480px;
$brkpoint-m 							: 768px;
$brkpoint-lg							: 1024px;




