// Fonts


$white						:#fff;
$pumpkin					:#fdb25e
$grey						:#818181;

//Colors

$primary-font-color					:$grey
$seconday-font-color				:$pumpkin;
$primary-color-colorRGB:			:rgba(253,178,94, 0.9);	
$background-color					:$white;




