//=========================================================
// Base Styles
//=========================================================

* {
	
	box-sizing:  border-box;
}		

body {
	font-family: $font-family--primary;

}

p{
	@include text(16px, $font-weight--light);
	font-family: $font-family--primary;

	.container  &  {
		color: $stormCloud;
	}
}


ul {

	list-style-type: none;
	padding:0;

}

